@import "tailwindcss";

/* That's it! Next.js 16 handles the rest automatically. */

body {
  background-color: black;
  color: #10b981; /* emerald-500 */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
